<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Veresiye_Urun_Satis_Otomasyonu.Properties.Settings.VeresiyeUrunSatisConnectionString"
            connectionString="Data Source=DESKTOP-20S2QFH\SQLEXPRESS;Initial Catalog=VeresiyeUrunSatis;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Veresiye_Urun_Satis_Otomasyonu.Properties.Settings.VeresiyeVeriTabaniConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\VeresiyeVeriTabani.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>